.navbar {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    align-items: center;
    justify-items: center;
    color: var(--white);
    font-size: 18px;
    font-weight: var(--fw-bold);
    padding: 0 20px 0 20px;
    visibility: visible;
    opacity: 1;
    height: 100px;
}

a.menu {
    text-decoration: none;
    color: var(--white);
    text-shadow: black 2px 1px;
    display: grid;
    padding: 15px 0;
    align-items: center;
    justify-items: center;
    height: 100px;
    width: 100px;
        &:hover {
            background: var(--orange-linear);
        }
}

a.submenu {
    text-decoration: none;
    color: var(--white);
    text-shadow: black 2px 1px;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 310px;
    height: 60px;
        &:hover {
            color: var(--orange);
            transform: scale(1.1);
        }
}

.active {
    background: var(--red);
}

a.menu.active:hover {
    background: var(--red);
}

.about__sub__menu {
    position: absolute;
    top: 100px;
    left: 110px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0; 
    z-index: -10;
    height: 0px;
    background: var(--layout);
    font-size: 18px;
    box-shadow: var(--shadow);
}

.about__sub__menu.active__sub__menu {
    visibility: visible;
    opacity: 1; 
    z-index: 10;
    color: var(--red);
    height: max-content;
    border: 3px solid var(--red);
}

.projects__sub__menu {
    position: absolute;
    top: 100px;
    left: 212px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0; 
    z-index: -10;
    height: 0px;
    background: var(--layout);
    font-size: 18px;
    box-shadow: var(--shadow);
}

.projects__sub__menu.active__sub__menu {
    visibility: visible;
    opacity: 1; 
    z-index: 10;
    color: var(--red);
    height: max-content;
    border: 3px solid var(--red);
}

.burger__menu {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100px;
}

.cursor {
    cursor: pointer;
}

@media (max-width: 600px) {
    .navbar {
        position: absolute;
        top: 110px;
        right: 10px;
        padding: 0;
        grid-template-columns: 140px;
        grid-template-rows: repeat(5, 100px);
        height: 500px;
        background: var(--layout);
        z-index: 15;
    }
    
    a.menu {
        width: 140px;
            &:last-child {
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3), 
                10px 10px 10px rgba(0, 0, 0, 0.3);
            }
    }
    
    a.submenu {
        text-decoration: none;
        color: var(--white);
        font-size: var(--fs-sm);
        display: grid;
        align-items: center;
        justify-items: center;
        width: 220px;
        height: 60px;
    }
    .about__sub__menu {
        top: 200px;
        right: 140px;
        left: auto;
    }
    .projects__sub__menu {
        top: 215px;
        right: 140px;
        left: auto;
    }
}