.title__gray {
    display: block;
    font-size: var(--fs-lg);
    font-weight: var(--fw-normal);
    color: var(--gray);
    text-align: center;
}

.border__left {
    border-left: 5px solid var(--dark-green);
    padding-left: 30px;
}

.sub__title__gray {
    display: block;
    font-size: var(--fs-sm);
    font-weight: var(--fw-normal);
    color: var(--gray);
    text-align: center;
}

.sub__title__orange {
    display: block;
    font-size: var(--fs-sm);
    font-weight: var(--fw-normal);
    color: var(--orange);
    text-align: center;
}

.sub__title2__gray {
    display: block;
    font-size: var(--fs-sm);
    font-weight: var(--fw-normal);
    color: var(--gray);
    text-align: left;
    padding-left: 20px;
    margin: 30px 0 20px;
}

.devider {
    margin: 30px 0;
    border: 2px dotted var(--dark-green);
    border-radius: 50%;
}

.quote__title {
    color: var(--gray);
    font-size: var(--fs-sm);
    font-weight: var(--fw-normal);
}

.quote {
    display: grid;
    justify-items: center;
    color: var(--gray);
    font-size: 12px;
    font-weight: var(--fw-normal);
    font-style: italic;
}

.quote__rotate__180 {
    transform: rotate(180deg);
}

.join__us {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 30px;
    background-image: url("./assets/les.webp");
    background-size: cover;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: var(--shadow);
}

.extend__title__white {
    display: block;
    font-size: var(--fs-lg);
    font-weight: var(--fw-normal);
    color: var(--white);
    text-align: center;
    margin-bottom: 10px;
}

.ul__container {
    display: grid;
    grid-template-columns: 320px auto;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    justify-content: center;
    border-right: 5px solid var(--dark-green);
    border-left: 5px solid var(--dark-green);
    box-shadow: var(--shadow);
    margin-top: 30px;
}

.ul__images {
    display: flex;
    align-items: center;
    max-width: 400px;
    max-height: 250px;
    visibility: visible;
    overflow: hidden;
    margin: 30px 0 30px 0;
    border-radius: 10px;
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: rgb(0 0 0 / 40%) 3px 3px 3px 3px;
        }
}

ul {
    padding: 0 20px;
    list-style-image: url('./assets/earth.svg');
}

.join__us__button {
    display: grid;
    grid-template-columns: 32px auto;
    max-width: 380px;
    font-size: var(--fs-md);
    font-weight: var(--fw-normal);
    margin: 20px 0;
    padding: 5px 20px;
    box-shadow: rgb(0 0 0 / 40%) 3px 3px 3px 3px;
    align-items: center;
    justify-items: start;
    background: var(--orange);
    color: var(--white);
    user-select: none;
    border-radius: 10px;
    line-height: 2;
    transform: scale(1);
    transition: 0.2s ease-in;
        &:hover {
            transform: scale(1.05);
        }
}

.images {
    display: flex;
    align-items: center;
    max-height: 400px;
    visibility: visible;
    overflow: hidden;
    margin: 30px 0 30px 0;
    border-radius: 10px;
    box-shadow: var(--shadow);
        img {
            width: 100%;
            object-fit: cover;
        }
}

@media (max-width: 800px) {
    .ul__container {
        grid-template-columns: minmax(250px, 400px);
        gap: 0px
    }
    .ul__images {
        margin: 10px 0px;
    }
}

@media (max-width: 600px) {
    .title__gray {
        font-size: var(--fs-md);
    }
    .sub__title__gray {
        font-size: var(--fs-sm);
    }
    .extend__title__white {
        font-size: var(--fs-sm);
    }
    .join__us__button {
        font-size: 12px;
    }
}