.wrapper {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.hello__container {
    display: grid;
    align-content: center;
    justify-content: start;
    margin-bottom: 10px;
}

.hello__h {
    display: grid;
    justify-self: center;
    font-size: var(--fs-md);
    font-weight: var(--fw-normal);
    margin-bottom: 10px;
        a {
            color: var(--red);
            text-shadow: black 2px 1px;
        }
}

.hello {
    color: var(--white);
    font-size: var(--fs-sm);
    font-weight: var(--fw-normal);
    text-align: center;
}

.mail__link {
    text-decoration: none;
    color: var(--white);
    font-size: var(--fs-sm);
}

.contacts__container {
    display: grid;
    gap: 5px;
    align-items: center;
}

.contacts {
    display: grid;
    grid-template-columns: 32px auto;
    gap: 5px;
    justify-content: start;
    color: var(--white);
    font-size: var(--fs-sm);
    line-height: 24px;
}

.copyright {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
    color: var(--white);
    font-size: 12px;
}

@media (max-width: 520px) {
    .hello {
        font-size: var(--fs-sm);
        text-align: center;
    }
    .hello__container{
        padding-left: 30px;
    }
    .contacts {
        padding-left: 30px;
        font-size: 12px;
        align-items: center;
    }
    .mail__link {
        font-size: 12px;
    }
}